html, body {
    height: 100%; 
    margin: 0; 
  }
  
  .result-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #f0f8ff; 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 600px;
    margin:auto; 
    text-align: center;
    font-family: 'Arial', sans-serif; 
    transition: all 0.3s ease;
    margin-top: 10%;
  }
  
  .score-heading {
    font-size: 28px;
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .try-again-button {
    background-color: #007bff; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 70%; 
    
  }
  
  .try-again-button:hover {
    background-color: #0056b3; 
    transform: translateY(-3px); 
  }
  
  .try-again-button:active {
    background-color: #004080; 
  }
  
  @media (max-width: 768px) {
    .result-container {
      padding: 20px;
    }
  
    .score-heading {
      font-size: 24px;
    }
  
    .try-again-button {
      font-size: 14px;
      padding: 10px;
    }
  }
  